<meta charset="utf-8">
<link rel="icon" type="image/png" href="/favicon.png" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
