<!DOCTYPE html>
<html>
<head>
  <% include ../partials/meta.ejs %>
</head>

<body>
<noscript>
	<h3 style="background:red;color:white;text-align:center;">
		This site works best with <a style="color:white;" href="http://www.enable-javascript.com/" target="_blanc">JavaScript enabled</a>
	</h3>
</noscript>

 <div id="header"></div>
 <div id="main">
  <h3>&nbsp;&nbsp;<a href="/abv" >Hey nomad, look for your clan here :)</a></h3>
  <iframe id="adbox" src="<%= url %>" sandbox="allow-scripts allow-top-navigation">Your browser does not support iFrames</iframe>
 </div>
 <div id="footer">
  &nbsp;<a href="/" >home</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/abv" >abv</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/about.html">about</a>&nbsp;&nbsp;
 </div>

</body>
</html>
