<!DOCTYPE html>
<html>
<head>
  <% include ../partials/meta.ejs %>
</head>

<body>

<div data-role="page" id="page-<%= title %>" >

	<div data-role="header" data-theme="a" data-position="fixed" class="dashboard-logo">
	</div>

	<div role="main" class="ui-content">
		<%- body %>
	</div>

	<div data-role="footer" data-theme="a" data-position="fixed">
		&nbsp;<i>Copyright &copy; 2017</i>
	</div>
</div>

</body>
</html>
